# dependencies
/node_modules
/.pnp
.pnp.js


# next.js build output
.next

# testing
/coverage

# production
/build

# misc
.DS_Store

# dotenv environment variables file (build for zeit now)
# found these two on a random site
.env
.env.build

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
